body { 
    background-color: #121212;
    color: #ffffff; 
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh; 
    margin: 0; 
}


.input-container, .score-container 
{ 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 20px; 
}

.input-container input, .score-container input 
{
    border: 2px solid #f39c12; 
    border-radius: 50px; 
    padding: 10px 20px; 
    width: 300px; 
    margin-left: 10px;
}

#starRating { 
    display: flex; 
    justify-content: center; 
    margin: 10px 0; 
}

button { 
    background-color: #f39c12; 
    color: white;
    border: none; 
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    display: block; 
    margin: 10px auto; 
}

button:hover { 
    background-color: #d68910; 
}

#movieList { 
    border: 2px solid #f39c12; 
    border-radius: 10px; 
    background-color: #222; 
    padding: 20px; 
    width: 300px; 
    list-style-type: none; 
    position: absolute; 
    right: 20px; 
    top: 100px; }

li { display: flex; 
    align-items: center; 
    justify-content: space-between;
    margin: 10px 0; 
    padding: 10px; 
    background-color: #333; 
    border-radius: 5px; }

.star { font-size: 20px; 
       cursor: pointer; }

.active { color: gold; }

.popcorn { margin-right: 5px; }

